body {
	background: #8BD1FC;
}



.txt {
	display: block;
	width: 50%;
	height: 80px;
	color: #4E4D53;
	border-radius: 3px;
}
 
#logotrello .logo {
	width: 300px;
	height: 250px;
	display: block;
    margin: auto;
}

a {
 	color: #FFFFFF;
 font-family: 'Patrick Hand SC', cursive;
 	font-size: 30px;
 }
